<form novalidate name="instructionForm" class="col-md-6 col-md-offset-3">
    <p class="page-title">New instruction</p>

    <div ng-class="{ 'has-error' : instructionForm.title.$invalid && instructionForm.title.$dirty }" class="form-group">
        <label>Title</label>
        <input type="text" name="title" data-ng-model="instruction.title" class="form-control" required />
        <p ng-show="instructionForm.title.$invalid && instructionForm.title.$dirty" class="help-block">Title is required</p>
    </div>

    <div class="form-group">
        <label>Content</label>
        <textarea data-ng-model="instruction.content" rows="4" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>Execution Date</label>
        <p class="input-group">
            <input type="datetime" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="instruction.executionDate" is-open="opened"
                   required close-text="Close" readonly />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerSettings.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>

    <div class="form-group">
        <label>Priority</label>
        <select data-ng-model="instruction.priority" data-ng-options="priority.id as priority.name for priority in priorities"
                required class="form-control"></select>
    </div>

    <div class="pull-right">
        <add-button action="createInstruction()" text="Create"></add-button>
        <button data-ng-click="cancel()" class="btn btn-default">Cancel</button>
    </div>
</form>