<div class="col-md-8 col-md-offset-1">
    <div class="bottom-margin row filter-panel">
        <div class="col-md-6">
            <p class="input-group">
                <input type="datetime" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="filterDate" data-ng-change="filter()" is-open="datePickerSettings.opened"
                       required close-text="Close" readonly />
                <span class="input-group-btn">
                    <button type="button" data-ng-click="datePickerSettings.open($event)" class="btn btn-default">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
        
        <div class="col-md-4">
            <input type="checkbox" id="showCompletedCheckBox" data-ng-model="showCompleted" data-ng-change="filter()" />
            <label for="showCompletedCheckBox">Show completed</label>
        </div>
    </div>

    <div data-ng-repeat="instruction in instructions | orderBy: '-priority'">
        <div class="vertical-margin">
            <div data-ng-hide="instruction.isClosed" class="row">
                <button data-ng-click="closeInstruction(instruction)" class="btn btn-success col-md-offset-6 col-md-3">Complete</button>
                <button data-ng-click="removeInstruction(instruction)" class="btn btn-danger col-md-3">Remove</button>
            </div>
            <div data-ng-class="{ minor: instruction.priority === 0,
                        normal: instruction.priority === 1,
                        major: instruction.priority === 2 ,
                        critical: instruction.priority === 3,
                        closed: instruction.isClosed }"
                 class="row rounded-container">

                <div data-ng-click="!instruction.isClosed ? edit(instruction.id) : false">
                    <strong class="text-uppercase">{{ instruction.title }}</strong>
                    <br />
                    <br />
                    {{ instruction.content }}
                    <br />
                    <br />
                    Date : {{ instruction.executionDate | date : 'MM/dd/yyyy' }}
                </div>
            </div>
        </div>
        
    </div>
</div>