<div>
    <p class="page-title">Bill Details</p>
    
    <div class="row">
        <form class="col-md-5 form-horizontal bill-detail">
            <div class="form-group">
                <label class="col-md-4 control-label">Date :</label>
                <label class="control-label main-label">{{ bill.date | date: 'MMMM yyyy' }}</label>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Apartment :</label>
                <label class="control-label main-label">{{ bill.apartment.name }}</label>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Email sent :</label>
                <label class="control-label main-label">{{ bill.isEmailSent ? "Yes" : "No" }}</label>
            </div>
        </form>

        <div class="col-md-4">
            <button data-ng-hide="bill.isClosed" data-ng-click="edit()" class="btn btn-link">Edit</button>
            <button data-ng-click="sendEmail()" class="btn btn-link">Send email</button>
            <button data-ng-click="viewPdf()" class="btn btn-link">View PDF</button>
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <thead>
            <tr class="table-header">
                <th>Name</th>
                <th>Measure</th>
                <th>Quantity</th>
                <th>Tariff*</th>
                <th>Tariff**</th>
                <th>Amount*</th>
                <th>Amount**</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="utilitiesItem in bill.utilitiesItems">
                <td>
                    {{ utilitiesItem.utilitiesClause.name }}
                </td>
                <td>
                    {{ utilitiesItem.utilitiesClause.measure }}
                </td>
                <td>
                    {{ utilitiesItem.quantity }}
                </td>
                <td>
                    {{ utilitiesItem.utilitiesClause.fullTariff }}
                </td>
                <td>
                    {{ utilitiesItem.utilitiesClause.isLimited ? utilitiesItem.utilitiesClause.subsidizedTariff : '' }}
                </td>
                <td>
                    {{ utilitiesItem.amountByFullTariff }}
                </td>
                <td>
                    {{ utilitiesItem.utilitiesClause.isLimited ? utilitiesItem.subsidezedAmount : '' }}
                </td>
                <td>
                    {{ (utilitiesItem.subsidezedAmount + utilitiesItem.amountByFullTariff) }}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="7" class="bold text-right">Sum:</td>
                <td>{{ bill.calculatedAmount }}</td>
            </tr>
            <tr>
                <td colspan="7" class="bold text-right">Carry over:</td>
                <td>{{ bill.carryOver }}</td>
            </tr>
            <tr>
                <td colspan="7" class="bold text-right">Fine:</td>
                <td>{{ bill.fine }}</td>
            </tr>
            <tr>
                <td colspan="7" class="bold text-right">Totals:</td>
                <td>{{ bill.calculatedAmount + bill.carryOver + bill.fine }}</td>
            </tr>
            <tr data-ng-show="bill.isClosed">
                <td colspan="7" class="bold text-right">Paid amount:</td>
                <td>{{ bill.paidAmount }}</td>
            </tr>
        </tfoot>
    </table>
    
    <button data-ng-click="cancel()" class="btn btn-default pull-right">Cancel</button>
</div>