<div>
    <form>
        <div class="form-group">
            <label>Content</label>
            <textarea data-ng-model="event.content" rows="5" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label>Date</label>
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="event.date" is-open="opened"
                       ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="datePickerSettings.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="form-group">
            <label>Time</label>
            <timepicker ng-model="event.time"></timepicker>
        </div>
        <add-button action="createEvent()" text="Create" class="pull-right"></add-button>
    </form>
</div>