<div class="col-md-9 col-md-offset-1">
    <div class="vertical-margin medium-width">
        <label>Execution Date</label>
        <p class="input-group">
            <input type="datetime" class="form-control" datepicker-popup="dd-MMMM-yyyy" data-ng-model="filterDate" data-ng-change="filter()" is-open="opened"
                   required close-text="Close" readonly />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerSettings.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>

    <div data-ng-repeat="ev in events">
        <div class="row event">
            <div class="col-md-2">
                {{ev.dateTime | date: 'HH:mm'}}
            </div>
            <div class="col-md-9">
                {{ ev.content}}
            </div>

            <button data-ng-click="removeEvent(ev)" class="btn close-button btn-default">x</button>
        </div>
    </div>
    
    <div data-ng-hide="events.length > 0" class="text-center">No items found</div>
</div>