/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
      padding-top: 40px;
   padding-bottom: 10px;
}



#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #222;
}

.text-muted {
    margin: 20px 0;
}

.form-login {
    max-width: 330px;
    padding: 0px 15px 5px 15px;
    margin: 110px auto;
}

    .form-login .form-login-heading {
        margin-bottom: 10px;
    }

    .form-login .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }

        .form-login .form-control:focus {
            z-index: 2;
        }

    .form-login input[type="password"] {
        margin-top:5px;
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .block-label {
    display: block;
}

.bottom-margin {
    margin-bottom: 40px;
}

.form-group {
    vertical-align: bottom !important;
}

.create-panel {
    background: #B2DBBF;
    padding: 10px 20px;
    margin: 0 0 60px 0;
    border-width: 3px 0;
    border-style: groove;
}

    .create-panel a {
        background: green;
        color: white;
        width: 120px;
        margin-bottom: 3px;
    }

.page-title {
    margin-bottom: 30px;
    font-size: xx-large;
    font-weight: bold;
}

.submenu {
    margin-left: 10px;
}

textarea {
    resize: none;
}

.wrapPanel > div {
    background: darkslateblue;
    color: white;
    font-size: large;
    text-align: center;
    width: 20%;
    height: 100px;
    padding: 10px 20px;
    margin: 5px;
    float: left;
    cursor: pointer;
}

.vertical-margin {
    margin: 5px 0 5px 0;
}

.sent {
    background: green !important;
    color: white;
}

.rounded-container {
    border-radius: 3px 0 0 3px;
    background: grey;
    color: white;
    cursor: pointer;
    position: relative;
}

.rounded-container > div {
    padding: 5px;
}

.bill-detail {
    font-size: medium;
    font-style: normal;
}

.bill-detail label {
    font-weight: normal;
}

.bill-detail .main-label {
    font-style: italic;
    font-weight: bold;
}

.paid {
    background: lightGrey !important;
    color: black;
}

.bill-board-button {
    height: 60px;
    border-radius: 0;
}

.error-alert {
    position: fixed;
    right: 15px;
    bottom: 60px;
    width: 300px;
}

.closed {
    background: grey !important;
}

.minor {
    background: darkseagreen;
}

.normal {
    background: green;
}

.major {
    background: orange;
}

.critical {
    background: red;
}

.close-button {
    position: absolute;
    right: 3px;
    top: 3px;
    background: white;
    color: black;
    padding: 0 5px;
    border: none;
}

.event {
    position: relative;
    border-radius: 3px;
    padding: 5px;
    margin: 3px;
    background: lightblue;
}

.menu-btn {
    width: 150px;
    padding-top: 15px;
    margin: 3px;
    background: cadetblue;
    color: white;
    font-weight: bold;
    font-size: medium;
}

.menu-btn:focus {
    opacity: 0.7;
    color: white;
}

.plus-image {
    width: 20px;
}

.building-name-container {
    margin: 50px 0;
}

.filter-panel {
    border-bottom: 1px solid #DEE3E2;
    padding: 0 0 10px 0;
    margin-bottom: 20px;
}

.info-label {
    margin: 3px 0;
    display: block;
    font-size: medium;
    font-weight: normal;
    font-style: italic;
}

.table-header {
    background: gray;
    color: white;
}

.gray-checkbox {
    margin-left: 80px;
}
.gray-checkbox input[type="checkbox"] {
     display: none;
}
.gray-checkbox input[type="checkbox"] + label > span {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: -4px 4px 0 0;
      border: 1px #2e3139 solid;
      vertical-align: middle;
      background: transparent left top no-repeat;
      cursor: pointer;
}
.gray-checkbox input[type="checkbox"] + label > span > span {
      display: inline-block;
      width: 11px;
      height: 11px;
      margin: 2px;
      background: transparent;
}
.gray-checkbox input[type="checkbox"]:checked + label > span > span {
    background: gray -15px top no-repeat;
}


.table-gray-checkbox input {
    display: none;
}
.table-gray-checkbox div {
    margin: 8px auto;
    background: transparent;
    border: solid 1px #97989c;
    width: 15px;
    height: 15px;
}
.table-gray-checkbox input:checked + div {
    background: gray;
}

.form-control[readonly] {
    cursor: default;
    background: white;
}

.pdf-container {
    margin-top: 10px;
    background: #97989c;
    padding: 5px 5px 0 5px;
}

.pdf-container canvas {
    width: 100%;
}

.building-container {
    background: mediumpurple;
    color: white;
    padding: 10px;
}

.building-container label {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.tools-width {
    width: 150px;
}

.create-form-panel {
    background: lightgray;
    padding: 10px 20px;
    margin: 0 0 60px 0;
    border-width: 3px 0;
}

.medium-width {
    width: 400px;
}