/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
      padding-top: 40px;
   padding-bottom: 10px;
}



#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #222;
}

.text-muted {
    margin: 20px 0;
}

.form-login {
    max-width: 330px;
    padding: 0px 15px 5px 15px;
    margin: 110px auto;
}

    .form-login .form-login-heading {
        margin-bottom: 10px;
    }

    .form-login .form-control {
        position: relative;
        height: auto;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 10px;
        font-size: 16px;
    }

        .form-login .form-control:focus {
            z-index: 2;
        }

    .form-login input[type="password"] {
        margin-top:5px;
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .block-label {
    display: block;
}

.bottom-margin {
    margin-bottom: 40px;
}

.form-group {
    vertical-align: bottom !important;
}

.create-panel {
    background: lightgray;
    padding: 10px 20px;
}

.page-title {
    margin-bottom: 30px;
    font-size: xx-large;
    font-weight: bold;
}

.submenu {
    margin-left: 10px;
}

textarea {
    resize: none;
}

.wrapPanel > div {
    background: darkslateblue;
    color: white;
    font-size: large;
    text-align: center;
    width: 30%;
    height: 100px;
    margin: 5px;
    float: left;
    cursor: pointer;
}

.vertical-margin {
    margin: 5px 0 5px 0;
}

.sent {
    background: green !important;
    color: white;
}

.bill {
    border-radius: 3px;
    background: red;
    color: white;
    cursor: pointer;
}

.paid {
    background: lightGrey !important;
    color: black;
}

.paid-button-height {
    height: 50px;
}