<div class="col-md-8 col-md-offset-2">
    <p class="page-title">Apartments</p>
    <table class="table table-bordered table-hover">
        <thead class="table-header">
            <tr>
                <th>Floor</th>
                <th>Number</th>
                <th class="tools-width"></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="apartment in apartments">
                <td>
                    {{ apartment.floor }}
                </td>
                <td>
                    {{ apartment.number }}
                </td>
                <td>
                    <button class="btn" data-ng-click="edit(apartment.id)">Edit</button>
                    <delete-button action="removeApartment(apartment)"></delete-button>
                </td>
            </tr>
        </tbody>
        <tfoot data-ng-hide="apartments.length > 0">
            <tr>
                <td colspan="3" class="text-center">No items found</td>
            </tr>
        </tfoot>
    </table>
</div>