<div class="row">
    <form class="col-md-8 center-block">
        <p class="page-title">New apartment</p>

        <div class="form-group">
            <label>Floor</label>
            <input type="text" data-ng-model="apartment.floor" class="form-control" />
        </div>
        <div class="form-group">
            <label>Number</label>
            <input type="text" data-ng-model="apartment.number" class="form-control" />
        </div>
        <div class="form-group">
            <label>Square</label>
            <input type="text" data-ng-model="apartment.square" class="form-control" />
        </div>
        <div data-ng-hide="!isEditMode" class="form-group">
            <label>Owner</label>
            <select data-ng-model="apartment.ownerId" data-ng-options="occupant.id as occupant.name for occupant in occupants"
                    class="form-control">
                <option value="">Select owner</option>
            </select>
        </div>
        <div class="pull-right">
            <add-button data-ng-hide="isEditMode" action="create()" text="Create"></add-button>
            <add-button data-ng-hide="!isEditMode" action="save()" text="Save"></add-button>
        </div>
    </form>
</div>