<form novalidate name="occupantForm" class="col-md-6 col-md-offset-3">
    <p class="page-title">New occupant</p>

    <div ng-class="{ 'has-error' : occupantForm.name.$invalid && occupantForm.name.$dirty }" class="form-group">
        <label>Name</label>
        <input type="text" name="name" data-ng-model="occupant.name" class="form-control" required />
        <p ng-show="occupantForm.name.$invalid && occupantForm.name.$dirty" class="help-block">Name is required</p>
    </div>

    <div class="form-group">
        <label>Date of Birth</label>
        <p class="input-group">
            <input type="datetime" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="occupant.dateOfBirth" is-open="datePickerSettings.opened"
                   required close-text="Close" readonly />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="datePickerSettings.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>

    <div ng-class="{ 'has-error' : occupantForm.apartment.$invalid && occupantForm.apartment.$dirty }" class="form-group">
        <label>Apartment</label>
        <select name="apartment" data-ng-disabled="occupant.isOwner" data-ng-model="occupant.apartmentId" data-ng-options="apartment.id as apartment.number for apartment in apartments"
                required class="form-control">
            <option value="">Select apartment</option>
        </select>
        <p ng-show="occupantForm.apartment.$invalid && occupantForm.apartment.$dirty" class="help-block">Apartment is required</p>
    </div>

    <div ng-class="{ 'has-error' : occupantForm.email.$invalid && occupantForm.email.$dirty }" class="form-group">
        <label>Email</label>
        <input type="email" name="email" data-ng-model="occupant.email" class="form-control" />
        <p ng-show="occupantForm.email.$invalid" class="help-block">Invalid email format</p>
    </div>

    <div class="form-group">
        <input type="checkbox" data-ng-model="occupant.isSubTenant" id="subtenant"/>
        <label for="subtenant">Renter</label>
    </div>

    <div class="form-group">
        <input type="checkbox" data-ng-model="occupant.isActive" id="active" />
        <label for="active">Active</label>
    </div>

    <div class="pull-right">
        <add-button data-ng-hide="isEditMode" action="create()" text="Create"></add-button>
        <add-button data-ng-hide="!isEditMode" action="save()" text="Save"></add-button>
        <button data-ng-click="cancel()" class="btn btn-default">Cancel</button>
    </div>
</form>