<div>
    <p class="page-title">Occupants</p>
    
    <div class="row filter-panel">
        <div class="col-md-4">
            <label>Apartment</label>
            <select data-ng-options="apartment.id as apartment.name for apartment in apartments" data-ng-model="apartmentId"
                    class="form-control">
                <option value="">All apartments</option>
            </select>
        </div>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-header">
            <tr>
                <th>Apartment</th>
                <th>Name</th>
                <th>Email</th>
                <th>Active</th>
                <th class="tools-width"></th>
            </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="occupant in occupants | filter:filterOccupants">
            <td>
                {{ occupant.apartment.number }}
            </td>
            <td>
                {{ occupant.name }}
            </td>
            <td>
                {{ occupant.email }}
            </td>
            <td>
                <table-gray-checkbox checked="occupant.isActive"></table-gray-checkbox>
            </td>
            <td>
                <button class="btn" data-ng-click="edit(occupant)">Edit</button>
                <delete-button action="removeOccupant(occupant)"></delete-button>
            </td>
        </tr>
        </tbody>
        <tfoot data-ng-hide="occupants.length > 0">
            <tr>
                <td colspan="5" class="text-center">No items found</td>
            </tr>
        </tfoot>
    </table>
</div>
