<div>
    <p class="page-title">Package types</p>

    <form class="form-inline bottom-margin create-panel">
        <div class="form-group">
            <label class="block-label">Short Description</label>
            <input type="text" class="form-control" data-ng-model="newPackageType.shortDescription" />
        </div>

        <div class="form-group">
            <label class="block-label">Long Description</label>
            <input type="text" class="form-control" data-ng-model="newPackageType.longDescription" />
        </div>

        <div class="form-group">
            <add-button data-ng-hide="isEditMode" action="addPackageType()" text="Add"></add-button>
            <add-button data-ng-hide="!isEditMode" action="updatePackageType()" text="Save"></add-button>
            <button class="btn btn-default" data-ng-hide="!isEditMode" data-ng-click="cancelEdition()">Cancel</button>
        </div>
    </form>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Short Description</th>
                <th>Long Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="packageType in packageTypes">
                <td>
                    {{ packageType.shortDescription }}
                </td>
                <td>
                    {{ packageType.longDescription }}
                </td>
                <td>
                    <button class="btn" data-ng-click="edit(packageType)">Edit</button>
                    <delete-button action="removePackageType(packageType)"></delete-button>
                </td>
            </tr>
        </tbody>
        <tfoot data-ng-hide="packageTypes.length > 0">
            <tr>
                <td colspan="3" class="text-center">No items found</td>
            </tr>
        </tfoot>
    </table>
</div>